extends layout

block title
  | My dashboard title

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='my_widget', data-view='Text', data-title='My Widget')
